/*  typography */

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.6;
  color: $text-color;
}

p, .paragraph {
  font-weight: 400;
  color: $text-color;
  font-size: 1rem;
}

h1,h2,h3,h4,h5,h6 {
  color: $text-color-dark;
  line-height: 1.2;
}

h1, .h1{
  font-size: 2rem;
  font-weight: 800;
  @include mobile {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

h2, .h2{
  font-size: 1.5rem;
  font-weight: 700;
  @include mobile {
    font-size: 1rem;
    font-weight: 600;
  }
}

h3, .h3{
  font-size: 1.2rem;
  @include mobile {
    font-size: 0.9rem;
  }
}

h4, .h4{
  font-size: 26px;
}

h5, .h5{
  font-size: 22px;
}

h6, .h6{
  font-size: 18px;
}
